Source: wasta-custom-moz
Section: utils
Priority: optional
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.7
Homepage: https://github.com/wasta-linux/wasta-custom-template

Package: wasta-custom-moz
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: goldendict, sword-text-portuguese, wasta-sword-modules, xiphos
Description: Wasta-Linux Mozambique customization
 Sets up machine for Wasta-Linux Mozambique use.
