Source: wasta-custom-BRANCH_ID
Section: utils
Priority: optional
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.7

Package: wasta-custom-BRANCH_ID
Architecture: all
Depends: ${misc:Depends}
Recommends:
Suggests:
Description: Wasta-Linux BRANCH_ID customization
 Sets up machine for Wasta-Linux BRANCH_ID use.
