[Desktop Entry]
Name=Ibus Portugese English Compatibility
Comment=Set LC_CTYPE to Portguese for Eng Int'l compatibility
Icon=ibus-preferences
Exec=LC_CTYPE=sh -c 'LC_CTYPE=pt_BR.UTF-8 ibus-daemon -xrd'
Terminal=false
StartupNotify=false

